@import url("https://fonts.googleapis.com/css2?family=Aleo:wght@300;400;700&family=Lato:wght@300;400;700&display=swap");
.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  /* font-family: "Aleo"; */
  font-family:  Helvetica;
 
}

::selection {
  background-color: darkolivegreen;
}
body {
  padding: 0;
  margin: 0;
}
